.SearchInput {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 0.85rem;
    font-family: var(--boundedFont);
    transition: width 0.3s ease;
    @media (max-width: 767px) {
        width: 90%;
        max-width: 200px;
    }
    @media (min-width: 768px) {
        width: 90%;
        max-width: 300px;
    }
}